* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #222629;


}

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: #222629;

}

.ClientLeft {
    width: 30%;
    height: 600px;
    padding: 20px;
}

.ClientLeft h2{
    color: white;
    margin-bottom: 20px;
}

.Field {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    position: relative;
    margin-bottom: 10px;
}

.Field input {
    width: 100%;
    background-color: rgb(233, 229, 229);
    padding: 10px 15px;
    padding-right: 60px;
    margin-top: 5px;
    border: none;
    outline: none;
}

.Field input:disabled {
    color: black
}

.Field label {
    padding: 0px 15px;
    color: white;
}

.ButtonWrapper {
    position: absolute;
    top: 44%;
    right: 0px;
    background-color: rgb(6, 53, 77);
    color: beige;
}

.Update {
    display: none;
}

.Edit,
.Update {
    padding: 10px 5px;
    cursor: pointer;
}



/*-------right side-------*/

.ClientRight {
    width: 50%;
    height: 600px;
    padding: 20px;
}

.ListHeading{
    border: unset;
    color: white;
   border: none !important;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1rem;

}

.TaskListWrapper {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    background-color: white;
    position: relative;
}

.Task {
    display: flex;
    border: 2px solid gray;
    position: relative;
}

.Task .Date {
    min-width: 100px;
    text-align: center;
    padding-left: 5px;
    border-right: 2px solid gray;

}

.Task .Title {
    flex-grow: 1;
    padding: 5px;
    padding-right: 15px;
}

.Task .Date,
.Task .Title {
    display: flex;
    align-items: center;


}

.TaskDelBtn,.TaskUpdatelBtn,.FinalUpdate {
    position: absolute;
    right: 0;
    color: red;
    border: none;
    outline: none;
    top: 50%;
    transform: translateY(-50%);

}


.AddTask {
    width: 100%;
    display: flex;
    margin: 10px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.FormElem {
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.FormElem label {
    width: 70px;
    color: white;
}

.FormElem input,textarea {
    flex-grow: 1;
}

.FormElem input,textarea {
    padding: 10px;

}

.AddTask button {
    padding: 14px 20px;
    margin-left: 15px;

}

#OveralyContainer{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.364);
}
.OverlayForEditTitle{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color:white;
    position: relative;
}
.CloseOverlay{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color:rgb(99, 5, 5);
    color: white;
    cursor: pointer;
    user-select: none;
}
.UpdateTitleBtn{
    padding: 5px;
    margin-top: 6px;
    width: fit-content;
    background-color: rgb(139, 225, 139);
    cursor: pointer;
}

.OverlayForEditTitle label{
    font-size: 1rem;
    font-weight: bold;

}
.OverlayForEditTitle textarea{
    outline: none;
    border: none;
    width: 100%;
    max-width: 100%;
    background-color: #d2d6da;
    color: black;
    font-size: 1rem;
}


/*---hide and show*/

.Hide {
    display: none !important;
}

.Show {
    display: block !important;
}

@media (max-width:1100px) {
    .ClientLeft {
        width: 40%;
    }

    .ClientRight {
        width: 60%;
    }
}

@media (max-width:800px) {
    .Wrapper {
        flex-direction: column;
    }

    .ClientLeft {
        width: 100%;
        height: 300px;
    }

    .ClientRight {
        width: 100%;
    }
}

@media (max-width:523px) {
    .FormElem {
        width: 100%;
    }
}